<!DOCTYPE html>

<html>
    <head>
        <title>Teste</title>
    </head>
    <body>
        <h1 class="text-center">Image Classifier</h1>

        <form class = "p-3 text-center" action="/", method="post" enctype="multipart/form-data">
            <input class = "form-control" type="file" name = "imagefile">
            <input class ="btn btn-primary mt-3"type="submit" value="Predict Diagnose">
        </form>

        {% if predict %}
            <p class="text-center"> {{predict}}</p>
        {% endif %}
    </body>
</html>